<nav class="navbar p-0 d-flex flex-row position-fixed w-100 z-3">
    <div class="navbar-menu-wrapper d-flex align-items-stretch" style="width: 100%">
        <ul class="navbar-nav navbar-nav-right">
            <li class="nav-item nav-profile dropdown">
                <a class="nav-link" style="margin-top: 10%" id="profileDropdown" href="#" data-toggle="dropdown"
                   aria-expanded="false">
                    <div class="nav-profile-img">
                        <img src="https://i.pinimg.com/736x/4f/fd/00/4ffd008f1c584b9dc19bbfd222235e38.jpg"
                             alt="image" style="width:32px;height:32px;object-fit:cover;border-radius:50%">
                        <span class="availability-status online"></span>
                    </div>
                    <div class="nav-profile-text">
                        <p class="mb-1 text-black font-weight-semibold">Mony Visa</p>
                        <p class="text-small text-muted mb-0">admin</p>
                    </div>
                </a>
            </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
                data-toggle="offcanvas">
            <span class="mdi mdi-menu"></span>
        </button>
    </div>
</nav>